body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d1d0d0;
    background-image: url(background.png);
    height:100%;
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
}



h1 {
    font-size: 30px;
    color: black;
    font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
    text-align: center;
    //text-shadow: 20px 8px px #333;
}

input[type=text], input[type=password] {
    width: 20%;
    height:50px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 10px 12px;
}

input[type=submit]{
    background-color: #0c49c7;
    color: white;
    font-size:15px;
    padding: 8px 12px;
    margin: 8px 0;
    border:none;
    cursor: pointer;
    width: 10%;
    height: 40px;

}

input[type=submit]:hover{
    opacity:0.7;
}

.imgcontainer{
    text-align : center;
    margin: 24px 0 12px 0;
}

#loginimage{
    width:10%;
    //height:30%;
    border-radius:20%;
}

.login{
    padding: 16px;
    text-align:center;
}
